<?xml version='1.0' encoding='utf-8'?>
<widget id="progromoslimited.cpmobileapp.myapp" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TopGains Mobile</name>
    <description>
        Programos software Limmited TopGains Mobile App 
    </description>
    <author email="infodev@programoslimited.com" href="http://www.programoslimited.com">
        Programos Software Limited
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash-land-hdpi" density="land-hdpi"/><!--land-hdpi  -->
    <splash src="res/screen/android/splash-land-ldpi" density="land-ldpi"/><!--land-ldpi  -->
    <splash src="res/screen/android/splash-land-mdpi" density="land-mdpi "/><!--land-mdpi  -->
    <splash src="res/screen/android/splash-land-xhdpi" density="land-xhdpi"/><!--land-xhdpi  -->

    <splash src="res/screen/android/splash-port-hdpi" density="port-hdpi"/><!--port-hdpi  -->
    <splash src="res/screen/android/splash-port-ldpi" density="port-ldpi"/><!--port-ldpi  -->
    <splash src="res/screen/android/splash-port-mdpi" density="port-mdpi"/><!--port-mdpi  -->
    <splash src="res/screen/android/splash-port-xhdpi" density="port-xhdpi"/><!--port-xhdpi  -->
</platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" /> 
        

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>

